@font-face{
    font-family: "DMSans-reg";
    font-weight: 400;
    src: url("./DMSans-Regular.ttf");
}
@font-face{
    font-family: "DMSans-med";
    font-weight: 500;
    src: url('./DMSans-Regular.ttf');
}
@font-face{
    font-family: "Bebas";
    font-weight: 400;
    src: url('./BebasNeue-Regular.ttf');
}