<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="ru">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Marine</title>
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
        />
        <link
          rel="stylesheet"
          href="../asset/fonts/custom-icons/custom-icons.css"
        />
        <link rel="stylesheet" href="../asset/fonts/font.css" />
        <link rel="stylesheet" href="../asset/style.css" />
        <link rel="stylesheet" href="../asset/main.css" />
      </head>
      <body>
        <div id="fleet-page notmain-page" class="wrapper">
          <header class="header">
            <div class="container">
              <button
                class="burger"
                data-burger
                aria-label="Открыть меню"
                aria-expanded="false"
              >
                <span class="burger__line"></span>
              </button>
              <div class="header-logo">
                <a href="/">
                  <img src="../asset/img/icons/logo.svg" alt="logo" />
                </a>
              </div>
              <nav class="nav" data-nav>
                <ul class="nav-list">
                  <li class="nav-item">
                    <a href="about.page.html">About us</a>
                  </li>
                  <li class="nav-item">
                    <a href="services.page.html">Services</a>
                  </li>
                  <li class="nav-item active">
                    <a href="fleet.page.html">Fleet</a>
                  </li>
                  <li class="nav-item">
                    <a href="projects.page.html">Projects</a>
                  </li>
                  <li class="nav-item ">
                    <a href="partners.page.html">Partners</a>
                  </li>

                  <li class="nav-item">
                    <a href="contacts.page.html">Contacts</a>
                  </li>
                </ul>
                <div class="nav-bottom">
                  <a href="#">Privacy Policy</a>
                  <a href="tel:+77292490039">+7(7292) 49-00-39</a>
                  <a href="mailto:ssc@silver-caspian.com"
                    >ssc@silver-caspian.com</a
                  >
                </div>
              </nav>
              <div class="header-lang">lang/lang</div>
            </div>
          </header>
          <section class="title-another">
            <div class="container">
              <h1>fleet</h1>
              <div class="breadcrump">
                <div class="breadcrump-item">
                  <a href="../"> Main page</a>
                </div>

                <div class="breadcrump-gap">/</div>

                <div class="breadcrump-item active">Fleet</div>
              </div>
            </div>
          </section>
          <section class="fleet">
            <div class="container">
              <div class="section-title">
                <h1>
                  We offer <span class="accent-word">for lease</span> a diverse
                  range of specialized
                  <span class="accent-word">fleet</span> owned by the
                  partnership alliance that SSC is a part of
                </h1>
              </div>
              <div class="fleet-subtitle">
                <div class="subtitle-text">
                  More than 40 vessels of various types. Additionally, we
                  provide services for forming the required fleet composition to
                  meet the client’s needs
                </div>
              </div>
              <div class="tab-dots">
                <div key-switch="1" class="tab-dot button-white active">
                  Available Fleets
                </div>
                <div key-switch="2" class="tab-dot button-white">Tugs</div>
                <div key-switch="3" class="tab-dot button-white">Barges</div>
                <div key-switch="4" class="tab-dot button-white">
                  Fleet in management
                </div>
              </div>
              <div class="fleet-content">
                <div data-switch="1" class="card frame">
                  <div class="card-title">
                    Multipurpose AHTS / Pusher tug Project KPT-2500-1C
                  </div>
                  <div class="card-img">
                    <img src="../asset/img/fleet-img.png" alt="ship" />
                    <button class="button-white card-button">3 units</button>
                  </div>
                  <div class="card-text">
                    <div class="text-item">
                      <div class="text-left">[class]</div>
                      <div class="text-right">
                        RINA, C ✠ tug; supply vessel - anchor handling;
                        Unrestricted navigation ✠ AUTUMS, INWATERSURVEY;
                        MON-SHAFT; PMS; Ice Class: IC
                      </div>
                    </div>
                    <div class="text-item">
                      <div class="text-left">[power]</div>
                      <div class="text-right">3450 h.p. / 2x 1268 kW</div>
                    </div>
                    <div class="text-item">
                      <div class="text-left">[Bollard pull]</div>
                      <div class="text-right">40 t</div>
                    </div>
                  </div>
                </div>

                <div data-switch="3" class="card frame">
                  <div class="card-title">
                    Multipurpose AHTS / Pusher tug Project KPT-2500-1C
                  </div>
                  <div class="card-img">
                    <img src="../asset/img/fleet-img.png" alt="ship" />
                    <!-- <button class="button-white card-button">3 units</button> -->
                  </div>
                  <div class="card-text">
                    <div class="text-item">
                      <div class="text-left">[class]</div>
                      <div class="text-right">
                        RINA, C ✠ tug; supply vessel - anchor handling;
                        Unrestricted navigation ✠ AUTUMS, INWATERSURVEY;
                        MON-SHAFT; PMS; Ice Class: IC
                      </div>
                    </div>
                    <div class="text-item">
                      <div class="text-left">[power]</div>
                      <div class="text-right">3450 h.p. / 2x 1268 kW</div>
                    </div>
                    <div class="text-item">
                      <div class="text-left">[Bollard pull]</div>
                      <div class="text-right">40 t</div>
                    </div>
                  </div>
                </div>

                <div data-switch="2" class="card frame">
                  <div class="card-title">
                    Multipurpose AHTS / Pusher tug Project KPT-2500-1C
                  </div>
                  <div class="card-img">
                    <img src="../asset/img/fleet-img.png" alt="ship" />
                    <button class="button-white card-button">3 units</button>
                  </div>
                  <div class="card-text">
                    <div class="text-item">
                      <div class="text-left">[class]</div>
                      <div class="text-right">
                        RINA, C ✠ tug; supply vessel - anchor handling;
                        Unrestricted navigation ✠ AUTUMS, INWATERSURVEY;
                        MON-SHAFT; PMS; Ice Class: IC
                      </div>
                    </div>
                    <div class="text-item">
                      <div class="text-left">[power]</div>
                      <div class="text-right">3450 h.p. / 2x 1268 kW</div>
                    </div>
                    <div class="text-item">
                      <div class="text-left">[Bollard pull]</div>
                      <div class="text-right">40 t</div>
                    </div>
                  </div>
                </div>
                <div data-switch="1" class="card frame">
                  <div class="card-title">
                    Multipurpose AHTS / Pusher tug Project KPT-2500-1C
                  </div>
                  <div class="card-img">
                    <img src="../asset/img/fleet-img.png" alt="ship" />
                    <button class="button-white card-button">3 units</button>
                  </div>
                  <div class="card-text">
                    <div class="text-item">
                      <div class="text-left">[class]</div>
                      <div class="text-right">
                        RINA, C ✠ tug; supply vessel - anchor handling;
                        Unrestricted navigation ✠ AUTUMS, INWATERSURVEY;
                        MON-SHAFT; PMS; Ice Class: IC
                      </div>
                    </div>
                    <div class="text-item">
                      <div class="text-left">[power]</div>
                      <div class="text-right">3450 h.p. / 2x 1268 kW</div>
                    </div>
                    <div class="text-item">
                      <div class="text-left">[Bollard pull]</div>
                      <div class="text-right">40 t</div>
                    </div>
                  </div>
                </div>
                <div data-switch="1" class="card frame">
                  <div class="card-title">
                    Multipurpose AHTS / Pusher tug Project KPT-2500-1C
                  </div>
                  <div class="card-img">
                    <img src="../asset/img/fleet-img.png" alt="ship" />
                    <button class="button-white card-button">3 units</button>
                  </div>
                  <div class="card-text">
                    <div class="text-item">
                      <div class="text-left">[class]</div>
                      <div class="text-right">
                        RINA, C ✠ tug; supply vessel - anchor handling;
                        Unrestricted navigation ✠ AUTUMS, INWATERSURVEY;
                        MON-SHAFT; PMS; Ice Class: IC
                      </div>
                    </div>
                    <div class="text-item">
                      <div class="text-left">[power]</div>
                      <div class="text-right">3450 h.p. / 2x 1268 kW</div>
                    </div>
                    <div class="text-item">
                      <div class="text-left">[Bollard pull]</div>
                      <div class="text-right">40 t</div>
                    </div>
                  </div>
                </div>
                <div data-switch="3" class="card frame">
                  <div class="card-title">
                    Multipurpose AHTS / Pusher tug Project KPT-2500-1C
                  </div>
                  <div class="card-img">
                    <img src="../asset/img/fleet-img.png" alt="ship" />
                    <button class="button-white card-button">3 units</button>
                  </div>
                  <div class="card-text">
                    <div class="text-item">
                      <div class="text-left">[class]</div>
                      <div class="text-right">
                        RINA, C ✠ tug; supply vessel - anchor handling;
                        Unrestricted navigation ✠ AUTUMS, INWATERSURVEY;
                        MON-SHAFT; PMS; Ice Class: IC
                      </div>
                    </div>
                    <div class="text-item">
                      <div class="text-left">[power]</div>
                      <div class="text-right">3450 h.p. / 2x 1268 kW</div>
                    </div>
                    <div class="text-item">
                      <div class="text-left">[Bollard pull]</div>
                      <div class="text-right">40 t</div>
                    </div>
                  </div>
                </div>
                <div data-switch="4" class="card frame">
                  <div class="card-title">
                    Multipurpose AHTS / Pusher tug Project KPT-2500-1C
                  </div>
                  <div class="card-img">
                    <img src="../asset/img/fleet-img.png" alt="ship" />
                    <button class="button-white card-button">3 units</button>
                  </div>
                  <div class="card-text">
                    <div class="text-item">
                      <div class="text-left">[class]</div>
                      <div class="text-right">
                        RINA, C ✠ tug; supply vessel - anchor handling;
                        Unrestricted navigation ✠ AUTUMS, INWATERSURVEY;
                        MON-SHAFT; PMS; Ice Class: IC
                      </div>
                    </div>
                    <div class="text-item">
                      <div class="text-left">[power]</div>
                      <div class="text-right">3450 h.p. / 2x 1268 kW</div>
                    </div>
                    <div class="text-item">
                      <div class="text-left">[Bollard pull]</div>
                      <div class="text-right">40 t</div>
                    </div>
                  </div>
                </div>
                <div data-switch="4" class="card frame">
                  <div class="card-title">
                    Multipurpose AHTS / Pusher tug Project KPT-2500-1C
                  </div>
                  <div class="card-img">
                    <img src="../asset/img/fleet-img.png" alt="ship" />
                    <button class="button-white card-button">3 units</button>
                  </div>
                  <div class="card-text">
                    <div class="text-item">
                      <div class="text-left">[class]</div>
                      <div class="text-right">
                        RINA, C ✠ tug; supply vessel - anchor handling;
                        Unrestricted navigation ✠ AUTUMS, INWATERSURVEY;
                        MON-SHAFT; PMS; Ice Class: IC
                      </div>
                    </div>
                    <div class="text-item">
                      <div class="text-left">[power]</div>
                      <div class="text-right">3450 h.p. / 2x 1268 kW</div>
                    </div>
                    <div class="text-item">
                      <div class="text-left">[Bollard pull]</div>
                      <div class="text-right">40 t</div>
                    </div>
                  </div>
                </div>
                <div data-switch="4" class="card frame">
                  <div class="card-title">
                    Multipurpose AHTS / Pusher tug Project KPT-2500-1C
                  </div>
                  <div class="card-img">
                    <img src="../asset/img/fleet-img.png" alt="ship" />
                    <button class="button-white card-button">3 units</button>
                  </div>
                  <div class="card-text">
                    <div class="text-item">
                      <div class="text-left">[class]</div>
                      <div class="text-right">
                        RINA, C ✠ tug; supply vessel - anchor handling;
                        Unrestricted navigation ✠ AUTUMS, INWATERSURVEY;
                        MON-SHAFT; PMS; Ice Class: IC
                      </div>
                    </div>
                    <div class="text-item">
                      <div class="text-left">[power]</div>
                      <div class="text-right">3450 h.p. / 2x 1268 kW</div>
                    </div>
                    <div class="text-item">
                      <div class="text-left">[Bollard pull]</div>
                      <div class="text-right">40 t</div>
                    </div>
                  </div>
                </div>
                <div data-switch="4" class="card frame">
                  <div class="card-title">
                    Multipurpose AHTS / Pusher tug Project KPT-2500-1C
                  </div>
                  <div class="card-img">
                    <img src="../asset/img/fleet-img.png" alt="ship" />
                    <button class="button-white card-button">3 units</button>
                  </div>
                  <div class="card-text">
                    <div class="text-item">
                      <div class="text-left">[class]</div>
                      <div class="text-right">
                        RINA, C ✠ tug; supply vessel - anchor handling;
                        Unrestricted navigation ✠ AUTUMS, INWATERSURVEY;
                        MON-SHAFT; PMS; Ice Class: IC
                      </div>
                    </div>
                    <div class="text-item">
                      <div class="text-left">[power]</div>
                      <div class="text-right">3450 h.p. / 2x 1268 kW</div>
                    </div>
                    <div class="text-item">
                      <div class="text-left">[Bollard pull]</div>
                      <div class="text-right">40 t</div>
                    </div>
                  </div>
                </div>
                <div data-switch="2" class="card frame">
                  <div class="card-title">
                    Multipurpose AHTS / Pusher tug Project KPT-2500-1C
                  </div>
                  <div class="card-img">
                    <img src="../asset/img/fleet-img.png" alt="ship" />
                    <button class="button-white card-button">3 units</button>
                  </div>
                  <div class="card-text">
                    <div class="text-item">
                      <div class="text-left">[class]</div>
                      <div class="text-right">
                        RINA, C ✠ tug; supply vessel - anchor handling;
                        Unrestricted navigation ✠ AUTUMS, INWATERSURVEY;
                        MON-SHAFT; PMS; Ice Class: IC
                      </div>
                    </div>
                    <div class="text-item">
                      <div class="text-left">[power]</div>
                      <div class="text-right">3450 h.p. / 2x 1268 kW</div>
                    </div>
                    <div class="text-item">
                      <div class="text-left">[Bollard pull]</div>
                      <div class="text-right">40 t</div>
                    </div>
                  </div>
                </div>
                <div data-switch="1" class="card frame">
                  <div class="card-title">
                    Multipurpose AHTS / Pusher tug Project KPT-2500-1C
                  </div>
                  <div class="card-img">
                    <img src="../asset/img/fleet-img.png" alt="ship" />
                    <button class="button-white card-button">3 units</button>
                  </div>
                  <div class="card-text">
                    <div class="text-item">
                      <div class="text-left">[class]</div>
                      <div class="text-right">
                        RINA, C ✠ tug; supply vessel - anchor handling;
                        Unrestricted navigation ✠ AUTUMS, INWATERSURVEY;
                        MON-SHAFT; PMS; Ice Class: IC
                      </div>
                    </div>
                    <div class="text-item">
                      <div class="text-left">[power]</div>
                      <div class="text-right">3450 h.p. / 2x 1268 kW</div>
                    </div>
                    <div class="text-item">
                      <div class="text-left">[Bollard pull]</div>
                      <div class="text-right">40 t</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="question">
            <div class="container">
              <div class="question-block">
                <h1>Still have <span class="accent-word">questions?</span></h1>
                <div class="question-text">
                  Write to us and we will promptly provide advice and
                  calculation of services.
                </div>
                <button class="button-blue">Send an application</button>
              </div>
            </div>
          </section>
          <footer class="footer">
            <div class="container">
              <div class="footer-content">
                <div class="footer-item footer-contactinfo">
                  <div class="footer-contactinfo__item">
                    <div class="item-title">[Location]</div>
                    <div class="item-text">
                      Building 80, Microregion 14,<br />
                      Aktau 130000,<br />
                      Mangystau region,<br />
                      Kazakhstan
                    </div>
                  </div>
                  <div class="footer-contactinfo__item">
                    <div class="item-title">[Call center]</div>
                    <div class="item-text">
                      <a href="tel:+77292490039">+7(7292) 49-00-39</a>
                    </div>
                  </div>
                  <div class="footer-contactinfo__item">
                    <div class="item-title">[E-mail]</div>
                    <div class="item-text">
                      <a href="mailto:ssc@silver-caspian.com"
                        >ssc@silver-caspian.com</a
                      >
                    </div>
                  </div>
                </div>
                <div class="footer-item">
                  <div class="item-title">[Company]</div>
                  <ul class="item-content footer-company">
                    <li>
                      <a href="about.page.html"> About us </a>
                    </li>
                    <li>
                      <a href="services.page.html">Services</a>
                    </li>
                    <li>
                      <a href="fleet.page.html">Fleet</a>
                    </li>
                    <li>
                      <a href="projects.page.html">Projects</a>
                    </li>
                    <li>
                      <a href="partners.page.html">Partners</a>
                    </li>
                    <li>
                      <a href="contacts.page.html">Contacts</a>
                    </li>
                  </ul>
                </div>
                <div class="footer-item">
                  <div class="item-title">[Useful links]</div>
                  <ul class="item-content footer-links">
                    <li>
                      <a href="#Privacy Policy">Privacy Policy</a>
                    </li>
                    <li>
                      <a href="#Our certificates">Our certificates</a>
                    </li>
                  </ul>
                </div>
                <div class="footer-item footer-social">
                  <div class="social-item">
                    <a href="#Whatsapp"
                      ><div class="icon-whatsapp"></div>
                      <span>Whatsapp</span></a
                    >
                  </div>
                  <div class="social-item">
                    <a href="#Viber">
                      <div class="icon-viber"></div>
                      <span>Viber</span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="footer-item footer-under">
                <div class="under-text">
                  Silver Shipping Caspian. ©2023. All rights reserved.
                </div>
                <button class="gotop">
                  <img src="../asset/img/icons/slider-but-next.svg" alt="" />
                </button>
              </div>
            </div>
          </footer>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
        <script src="../asset/app.js"></script>
      </body>
    </html>
  </body>
</html>
